DATABASE_URL=

SECRET_KEY=
MFA_CODE=

INITIAL_ADMIN_NAME=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=

LAB_CLIENT_ID=
LAB_CLIENT_SECRET=

CORS_ALLOWED_ORIGINS=
LOGIN_RATE_LIMIT=
LOGIN_RATE_WINDOW_SECONDS=
